#blockTable {
    position: absolute;
    left: 10px;
    top: 320px;
    width: 660px;
    height: 420px;
    padding-top: 20px;
}

.table {
    width: 100%;
    /* height: 100%; */
    text-align: center;
    border-collapse: collapse;
}

.table td {
    width: 10%;
    font-size: 11px;
}

.table td:last-child {
    font-weight: 600;
}

.table tr:nth-child(even) {
    background-color: rgba(0,0,0,0.03) ;
}
  
.table thead th {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.table thead th span {
    font-size: 10px;
    font-weight: 400;
}

.table tbody th {
    width: 15%;
}

.table tbody tr {
    transition: ease-in-out .15s;
    height: 32px;
}

.table tbody tr:hover {
    background-color: rgba(52,185,54,0.3);
}