#blockForm {
    box-sizing: border-box;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 10px;
    top: 10px;
	padding-top: 15px;
}

.inputBlock {
    display: flex;
    justify-content: center;
}

.inputBlock:not(:last-child) {
    margin-bottom: 3px;
}

.inputBlock__mainLabel {
    width: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.inputBlock__addLabel {
    width: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
    margin: 0;
}

.inputBlock__input, .inputBlock__select {
    box-sizing: border-box;
    width: 75px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: ease-in-out .15s;
	font-size: 12px;
}

.inputBlock__input {
	text-align: right;
    padding-right: 5px;
    -moz-appearance: textfield;
}

.inputBlock__input:focus, .inputBlock__select:focus {
    outline: none;
    border: 1px solid rgba(52,185,54,0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(52,185,54,0.3);
}


.inputBlock__input:not(:focus)::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

.inputBlock__input:focus::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin-left: 5px;
    height: 16px;
    width: 16px;
    background: url(input_arrows.png) no-repeat;
}

.inputBlock__input::placeholder {
    color: rgba(51,51,51,0.5);
}

