#printtgl{
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 300;
    right: 50px;
    top: 10px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.24);
    line-height: 0.6;
    text-align: center;
    outline: none;
}

#navtgl {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 300;
    left: 50px;
    top: 10px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.24);
    line-height: 0.6;
    text-align: center;
    outline: none;
}
#navtgl > span {
    display: inline-block;
    position: relative;
    height: 2px;
    width: 34px;
    border-radius: 1px;
    background: #293335;
    vertical-align: middle;
}
#navtgl > span:before {
    top: -11px;
    left: 3px;
    width: 28px;
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #293335;
    transition: all 200ms;
}
#navtgl > span:after {
    top: 11px;
    left: 6px;
    width: 22px;
    display: inline-block;
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    background: #293335;
    transition: all 200ms;
}

#navtgl:hover > span:after, #navtgl:hover > span:before {
    width: 34px;
    left: 0;
}

#blockNav.active #navtgl > span {
    height: 0;
}
#blockNav.active #navtgl > span:after {
    transform: rotate(-45deg);
    top: 0px;
    left: 0;
    width: 34px;
}
#blockNav.active #navtgl > span:before {
    transform: rotate(45deg);
    top: 0px;
    left: 0;
    width: 34px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100vw;
    height: 90px;
    background: rgba(159, 162, 177, 0.2);
    transition: all 500ms ease-in-out;
    clip-path: circle(30px at 85px 45px);
    visibility: hidden;
    box-shadow: 0 5px 5px rgba(159, 162, 177, 0.2);
}
  
#blockNav.active #navbar {
    visibility: visible;
    clip-path: circle(100%);
    box-shadow: 0 5px 5px rgba(159, 162, 177, 0.2);
    display: flex;
    justify-content: space-evenly;
}
  
#navpocket{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    border-radius: 40px;
    /* background-color: white; */
    margin-right: 200px;
}

.logo {
    height: 45px;
    width: 200px;
    padding-left: 100px;
    cursor: pointer;
    overflow: hidden;
}

.smaylogo {
    transition: 0.5s;
}

.logo:hover .smaylogo {
    transform: translateY(-110%);
}

.navpocketobj{
    height: 60px;
    width: 200px;
    font-weight: 700;
    font-size: 15;
    padding: 0 60 0 60;
    color: black;
    cursor: pointer;
    border-left: 1px solid lightgrey;
    text-align: center;
    /* border-style: dotted; */
}

.navpocketobj:last-child{
    border-right: 1px solid lightgrey;
}

.navIcon{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.navIcon .fa{
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
}

.navIcon .fa:last-child{
    color: #35a237;
}

.navpocketobj:hover .navIcon .fa{
    transform: translateY(-100%);
}

.navName{
    height: 20px;
    overflow: hidden;
    position: relative;
}

.navName span{
    display: block;
    position: relative;
    transition: 0.5s;
}

.navName span:before{
    color: #35a237;
    content: attr(data-text);
    position: absolute;
    top: -100%;
    height: 100%;
    transition: 0.5s;
}

.navpocketobj:hover .navName span{
    transform: translateY(20px);
}

#drukarka{
    /* transformacja o skale 0.1 i przesuniecie 14,7 */
    transform: matrix(0.1, 0, 0, 0.1, 14, 7);
    cursor:pointer;
}

#printtgl:hover svg #drukarka #a42{
    transform: matrix(1, 0, 0, 1, 0, 150);
    transition: all 0.4s 0.2s;
}

#printtgl:hover svg #drukarka #a41{
    transform: matrix(1, 0, 0, 1, 0, 150);
    transition: all 0.4s;
}