#svg1{
    user-select: none;
    height:300px;
    width:300px;
    font-size: 12px;
}

.st0Manometer {
    fill: none;
    stroke: grey;
    stroke-linecap: round;
}

.st1Manometer {
    fill: none;
    stroke: #46cce0;
    stroke-width: 3;
}

.st2Manometer {
    fill: black;
    /* stroke: dimgray; */
    stroke-width: 2;
}