* {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 11px;
    line-height: 1.42857143;
    color: #333;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
}

#blockMain{
    position: absolute;
    /* border-style: dotted; */
    width: 1300px;
    height: 770px;
}

#blockSketch {
    position: absolute;
    /* background-color: green; */
    width: 350px;
    height: 300px;
    left: 320px;
    top: 10px;
}

.graph{
    position: absolute;
    /* background-color: lightgrey; */
    width: 300px;
    height: 300px;
    transition: 300ms;
}

#graph1{
    left: 680px;
    top: 10px;
}

#graph2{
    left: 990px;
    top: 10px;
}

#graph3{
    left: 680px;
    top: 320px;
}

#graph4{
    left: 990px;
    top: 320px;
}

#graph1:hover, #graph2:hover, #graph3:hover, #graph4:hover{
    left: 680px;
    top: 10px;
    width: 610px;
    height: 610px;
    z-index: 2;
}